# Checking the Velocity Distribution
## particles coordinates obtained from imageJ

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import trackpy as tp
import pandas as pd
import os

In [2]:
folderPath = r'g:\My Drive\workAppState\prj_shocks\expData\data20230530velDistribTest_ImageJ_Connor'

In [3]:
inputsPath = folderPath + r'\inputs'
infilename = r'\360v_1mA_9sccm_91mtorr'

In [4]:
colnames=['x','y','frame']
indf = pd.read_csv(inputsPath + infilename  + r'.csv', usecols=[3,4,8],names=colnames, skiprows=1)

In [5]:
indf.head()

           x         y  frame
0  345.78586  13.41291      1
1  306.32614  14.01396      1
2  332.94084  13.89708      1
3  319.62251  14.91738      1
4  371.09624  14.78872      1

In [6]:
tracked_csv_dir = folderPath + r'\outputs' + r'\tracked' 
tracked_csv_filepath = tracked_csv_dir + infilename + r'_tracked.csv'
if not os.path.exists(tracked_csv_dir):
    os.makedirs(tracked_csv_dir)
    t_large = tp.link(t_csv,3,memory=1)
    t_large.to_csv(tracked_csv_filepath)    
else:
    t_large = pd.read_csv(tracked_csv_filepath)
t_large

         Unnamed: 0          x          y  frame  particle
0                 0  345.78586   13.41291      1         0
1              1299  563.45040  319.49206      1         1
2              1298  513.90593  319.84384      1         2
3              1297  284.83552  319.66066      1         3
4              1296  206.13283  319.97588      1         4
...             ...        ...        ...    ...       ...
1872186     1870898  210.52854  191.02396    968      1920
1872187     1870897  612.83741  188.58557    968      1541
1872188     1870896  494.81270  189.19780    968      1895
1872189     1870864  114.40066  184.15846    968      1864
1872190     1872190  233.29747  493.80802    968       638

[1872191 rows x 5 columns]

In [7]:
#function get_velocities(df, step) calculates velocites of particles
# with a given step step.
def get_velocities(df, step):
#initialize empy arrays to store data:
    arr_particle = np.array([])
    arr_x = np.array([])
    arr_y = np.array([])
    arr_vx = np.array([])
    arr_vy = np.array([])
    arr_frame = np.array([])
    # get an array containing all frame numbers in the input dataframe:
    frames_listing = np.unique(np.array(df['frame']))
    #cycle throught all those frames:
    for iFrame in range(step, len(frames_listing)):
        #get current frame:
        cur_frame = frames_listing[iFrame]
        #select a dataframe containing data ONLY for that frame:
        df_front_frame = df[(df['frame'] == cur_frame)]
        print(iFrame)
        #cycle throught all particles in the frame and find their velocities as
        # position of the particle in that frame minus position of the same particles
        # step frames ago:
        for i in range(0, len(df_front_frame)):
            #take i-th particle in a frame
            cur_p = df_front_frame['particle'].iloc[i]
            cur_x = df_front_frame['x'].iloc[i]
            cur_y = df_front_frame['y'].iloc[i]
            #find a row with the same particle in a frame step frames ago:
            prev_frame_cur_row = df[((df['frame'] == cur_frame - step) & (df['particle'] == cur_p))]
            #if that particle excisted back then, we will get exactly ONE row:
            if (len(prev_frame_cur_row) == 1):
                #if this row exists, we can take position of that particle in that, previous, frame:
                prev_x = prev_frame_cur_row['x'].iloc[0]
                prev_y = prev_frame_cur_row['y'].iloc[0]
                # so we can calculate velocities:
                cur_vx = cur_x - prev_x
                cur_vy = cur_y - prev_y
                cur_particle = df_front_frame['particle'].iloc[i]
                #and append all parameters of that particle to our data arrays
                arr_vx = np.append(arr_vx, cur_vx)
                arr_vy = np.append(arr_vy, cur_vy)
                arr_particle = np.append(arr_particle, cur_particle)
                arr_x = np.append(arr_x, cur_x)
                arr_y = np.append(arr_y, cur_y)
                arr_frame = np.append(arr_frame, cur_frame)
    #save output as a dataframe containing all the info we need:
    data = {'frame':arr_frame, 'particle':arr_particle, 'x': arr_x, 'y': arr_y, 'vx': arr_vx, 'vy':arr_vy}
    ret_df = pd.DataFrame(data)
                
    return ret_df

## Getting the Temperature Profiles

#### constants:

In [8]:
step = 25 # number of frames between the frames for calculating velocities
dust_mass = 4.0 / 3.0 * np.pi * (7.14E-6 / 2.0)**3 * 1510.0 #mass of the dust particles
N_points = 15 # number of points in the temperature profile
rate_for_vel = 99.0 / step # frequency for calculating particle speeds
mm_per_px = 1.0/1.3 # camera resolution
N_bins = 20 #number of bins in the hystograms

#### first, get velocities. May take some time:

In [9]:
vel_csv_dir = folderPath + r'\outputs\csvData\velocities'
vel_csv_csv_filepath = vel_csv_dir + infilename + r'_velocities.csv'
if not os.path.exists(vel_csv_dir):
    os.makedirs(vel_csv_dir)
    df_vel = get_velocities(t_large, step)
    df_vel.to_csv(vel_csv_csv_filepath)    
else:
    df_vel = pd.read_csv(vel_csv_csv_filepath)
df_vel.head()

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967

   frame  particle          x          y       vx       vy
0   26.0       5.0   87.24011  318.85615  0.41789 -0.31052
1   26.0      11.0  390.23453  317.86926 -0.42804  0.49591
2   26.0      27.0  501.01584  317.34253  0.25052  0.44268
3   26.0      54.0   56.19952  320.86459  0.71546 -2.08758
4   26.0       9.0  250.44585  318.53971 -0.02436  0.27801

In [51]:
t_sorted = t_large.sort_values(by = ['particle', 'frame'])

In [52]:
t_sorted.head()

      Unnamed: 0          x         y  frame  particle
0              0  345.78586  13.41291      1         0
3390        1937  345.52386  13.34490      2         0
5169        3874  345.51325  13.35762      3         0
7105        5809  345.58277  13.37919      4         0
9195        7744  345.71959  13.45048      5         0

In [53]:
grouped = t_sorted.groupby('particle')
grouped.head()

         Unnamed: 0          x          y  frame  particle
0                 0  345.78586   13.41291      1         0
3390           1937  345.52386   13.34490      2         0
5169           3874  345.51325   13.35762      3         0
7105           5809  345.58277   13.37919      4         0
9195           7744  345.71959   13.45048      5         0
...             ...        ...        ...    ...       ...
1868973     1870254  331.02874  489.01724    967      2581
1870899     1872183  331.00549  489.01648    968      2581
1868841     1870085  603.50000  421.29221    967      2582
1870768     1872013  603.53030  421.29798    968      2582
1870793     1872048  590.48276  431.56034    968      2583

[12001 rows x 5 columns]

In [54]:
t_sorted['vx'] = grouped['x'].diff(periods = step)
t_sorted['vy'] = grouped['y'].diff(periods = step)
t_sorted = t_sorted.dropna()
t_sorted.head()

       Unnamed: 0          x         y  frame  particle       vx       vy
49729       48433  346.28611  13.60750     26         0  0.50025  0.19459
51667       50370  346.14262  13.64761     27         0  0.61876  0.30271
53602       52307  346.15086  13.73922     28         0  0.63761  0.38160
55539       54246  346.18591  13.83025     29         0  0.60314  0.45106
57475       56183  346.17596  13.85192     30         0  0.45637  0.40144

In [55]:
t_sorted = t_sorted.sort_values(by = ['frame', 'particle'])
t_sorted.head()

       Unnamed: 0          x          y  frame  particle       vx       vy
49729       48433  346.28611   13.60750     26         0  0.50025  0.19459
48475       49733  563.76923  319.58150     26         1  0.31883  0.08944
48485       49738  514.13874  320.31868     26         2  0.23281  0.47484
48438       49731  284.52489  320.01674     26         3 -0.31063  0.35608
48442       49730  205.28021  319.75866     26         4 -0.85262 -0.21722

In [56]:
t_26 = t_sorted

In [57]:
len(t_sorted)

1817475

In [58]:
len(df_vel)

1817329

In [61]:
df_vel = df_vel.sort_values(by = ['frame', 'particle'])
df_vel['particle'] = df_vel['particle'].astype('int')
df_vel['frame'] = df_vel['frame'].astype('int')
df_vel.head()

      frame  particle          x          y       vx       vy
1294     26         0  346.28611   13.60750  0.50025  0.19459
42       26         1  563.76923  319.58150  0.31883  0.08944
52       26         2  514.13874  320.31868  0.23281  0.47484
5        26         3  284.52489  320.01674 -0.31063  0.35608
9        26         4  205.28021  319.75866 -0.85262 -0.21722

In [62]:
df_vel.tail(10)

         frame  particle          x          y       vx       vy
1816090    968      2505  574.96842  439.48947  1.30626  0.50974
1815874    968      2516   25.96001  288.12137  0.71097 -0.57263
1815446    968      2520  690.48805  322.99004  0.69434 -1.57989
1816083    968      2527  420.87831  441.82275  1.35188  0.82055
1815501    968      2529   48.30000  308.74852 -0.95171 -0.44147
1816490    968      2534  501.72504  149.56259 -0.10174 -0.74679
1815460    968      2540  651.12000  320.73000  0.70730 -0.78190
1816109    968      2541  539.22603  453.73288  0.76100 -0.45943
1817169    968      2545  486.83841  158.18293 -0.64795 -0.33071
1815626    968      2555   63.06354  336.13928  0.17599 -0.22098

In [63]:
firstColName = t_sorted.columns[0]
t_sorted = t_sorted.drop(columns = firstColName)
t_sorted.tail(10)

                 x          y  frame  particle       vx       vy
1870949  574.96842  439.48947    968      2505  1.30626  0.50974
1870729   25.96001  288.12137    968      2516  0.71097 -0.57263
1870295  690.48805  322.99004    968      2520  0.69434 -1.57989
1870942  420.87831  441.82275    968      2527  1.35188  0.82055
1870351   48.30000  308.74852    968      2529 -0.95171 -0.44147
1871351  501.72504  149.56259    968      2534 -0.10174 -0.74679
1870309  651.12000  320.73000    968      2540  0.70730 -0.78190
1870968  539.22603  453.73288    968      2541  0.76100 -0.45943
1872030  486.83841  158.18293    968      2545 -0.64795 -0.33071
1870477   63.06354  336.13928    968      2555  0.17599 -0.22098

In [64]:
len(t_sorted)

1817475

In [65]:
len(df_vel)

1817329

In [68]:
t_sorted_temp = t_sorted[['frame', 'particle', 'x']].apply(tuple, axis=1)
df_vel_temp = df_vel[['frame', 'particle', 'x']].apply(tuple, axis=1)

In [69]:
extra_rows = t_sorted[~t_sorted_temp.isin(df_vel_temp)]

In [72]:
extra_rows = extra_rows.sort_values(by = ['particle', 'frame'])
extra_rows.head()

                 x          y  frame  particle       vx       vy
467376   657.38018  335.68433    242       124 -0.09450 -2.15111
1365124  659.81875  321.50625    706       124 -0.11335 -0.56165
987775   645.53371  333.51124    511       171  0.34818 -0.02021
1034260  645.47468  332.74051    535       171 -0.22001 -0.90108
335451   657.12500  324.31250    174       189  0.54113 -0.89073

In [71]:
len(extra_rows)

249

In [74]:
get_suku = t_large[(t_large['particle'] == 124) & (t_large['frame'] == 242)]
get_suku.head()

        Unnamed: 0          x          y  frame  particle
467376      468542  657.38018  335.68433    242       124

In [80]:
get_suku_prev = t_large[(t_large['particle'] == 124) & (t_large['frame'] == (242 - step))]
get_suku_prev.head()

Empty DataFrame
Columns: [Unnamed: 0, x, y, frame, particle]
Index: []

In [86]:
#function get_velocities(df, step) calculates velocites of particles
# with a given step step.
def get_velocities_fast(df, step):
#initialize empy arrays to store data:
    master_index = 0
    max_len = len(df)
    arr_particle = np.full(max_len, np.nan)
    arr_x = np.full(max_len, np.nan)
    arr_y = np.full(max_len, np.nan)
    arr_vx = np.full(max_len, np.nan)
    arr_vy = np.full(max_len, np.nan)
    arr_frame = np.full(max_len, np.nan)
    # get an array containing all frame numbers in the input dataframe:
    frames_listing = np.unique(np.array(df['frame']))
    #cycle throught all those frames:
    for iFrame in range(step, len(frames_listing)):
        #get current frame:
        cur_frame = frames_listing[iFrame]
        #select a dataframe containing data ONLY for that frame:
        df_front_frame = df[(df['frame'] == cur_frame)]
        print(iFrame)
        #cycle throught all particles in the frame and find their velocities as
        # position of the particle in that frame minus position of the same particles
        # step frames ago:
        for i in range(0, len(df_front_frame)):
            #take i-th particle in a frame
            cur_p = df_front_frame['particle'].iloc[i]
            cur_x = df_front_frame['x'].iloc[i]
            cur_y = df_front_frame['y'].iloc[i]
            #find a row with the same particle in a frame step frames ago:
            prev_frame_cur_row = df[((df['frame'] == cur_frame - step) & (df['particle'] == cur_p))]
            #if that particle existed back then, we will get exactly ONE row:
            if (len(prev_frame_cur_row) == 1):
                #if this row exists, we can take position of that particle in that, previous, frame:
                prev_x = prev_frame_cur_row['x'].iloc[0]
                prev_y = prev_frame_cur_row['y'].iloc[0]
                # so we can calculate velocities:
                cur_vx = cur_x - prev_x
                cur_vy = cur_y - prev_y
                cur_particle = df_front_frame['particle'].iloc[i]
                #and append all parameters of that particle to our data arrays
                arr_vx[master_index] = cur_vx
                arr_vy[master_index] = cur_vy
                arr_particle[master_index] = cur_particle
                arr_x[master_index] = cur_x
                arr_y[master_index] = cur_y
                arr_frame[master_index] = cur_frame
                master_index += 1
    #save output as a dataframe containing all the info we need:
    data = {'frame':arr_frame, 'particle':arr_particle, 'x': arr_x, 'y': arr_y, 'vx': arr_vx, 'vy':arr_vy}
    ret_df = pd.DataFrame(data)
                
    return ret_df

In [81]:
arr = np.full(10, np.nan)

In [82]:
arr

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [83]:
arr[5] = 2

In [84]:
arr

array([nan, nan, nan, nan, nan,  2., nan, nan, nan, nan])

In [87]:
df_vel_fast = get_velocities_fast(t_large, step)

25
26
27
28
29
30
31

KeyboardInterrupt: