# Obtaining Phonon Spectrum in Python

2023-05-18

In [1]:
import pandas as pd

In [3]:
folderPath = r'g:\My Drive\workAppState\prj_shocks\expData\20230517PhononSpectrumInPython\demoData'

In [5]:
pos_filepath = folderPath + r'\inputs' + r'\position4NoTiffs.txt'
df_pos = pd.read_csv(pos_filepath)

In [6]:
df_pos.head()

   1  f0001  525.875  308.759
0  2  f0001  540.752  309.607
1  3  f0001  726.547  309.103
2  4  f0001  739.739  309.056
3  5  f0001  753.169  309.255
4  6  f0001  766.753  309.478