# Frequencies Spectra for Individual Particles

In [9]:
import pandas as pd
import trackpy as tp

In [3]:
folderPath = r'G:\My Drive\workAppState\prj_shocks\expData\data_phonon_spectrum\data_set1\analyzed\103Vbias\20230727spectra\03_an_frequenciesSpectra'

In [6]:
pos_filepath = folderPath + r'\inputs' + r'\position.txt'

In [7]:
df_pos = pd.read_csv(pos_filepath, header = None)

In [8]:
df_pos.head()

   0          1        2        3
0  1  f0000.tif  741.606  421.285
1  2  f0000.tif  746.121  429.531
2  3  f0000.tif  763.478  442.788
3  4  f0000.tif  840.229  455.421
4  5  f0000.tif  872.425  455.960